body {
    background-image: url(/common/img/hero-bg.jpg);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
}
input{
	width: 50% ;
	height: 39px;
	padding-left: 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,.3);
	color: #FFFFFF;
	outline:none;
}